<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [dhis-service][%C{1}] %m%n" />
        </layout>
    </appender>


    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/dhis-service.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [dhis-service][%c] %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework">
        <level value="warn"/>
        <appender-ref ref="console"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
