name: Validate PR
on:
  pull_request:
    branches: [ master ]
jobs:
  build-package:
    name: Build Package
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.6
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
    steps:
      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Test and build package
        run: ./mvnw -T 4 --no-transfer-progress clean install -U
